@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.container {
  margin-top: 4em;
  width: 680px;
  margin: 0 auto;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
.car-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  flex: 0 1 auto;
}
.car-cards > div {
  margin: .5em;
}
.cat-card {
  min-width: 42%;
  border: 1px solid rgba(0, 0, 0, 0.29);
  padding: 1em;
  border-radius: 0.4em;
  display: flex;
  justify-content: space-between;
}

.cat-card > div{
  font-weight: 500;
  font-size: 1.3em;
}

.cat-card > h5 {
  font-size: 1.3rem;
  font-weight: 500;
}
